.App {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: rgb(39, 37, 37);
  height: 100vh;
}

.searchComponent{
  background-color: white;
  width: 90%;
}

.dropDownComponent{
  display: flex;
  justify-content: center;
  background-color: white;
  width: 90%;
  border: 1px solid red;
  height: fit-content;
  padding: 5%;
}

.ui.form{
  width: 50%;
}